<h1>Hello, Rails!mazafaka!!!</h1>

<%= link_to 'My Blog', controller: 'articles' %>
  - This option links you to all articles you create!
  <br>
<hr>
<%= link_to 'New Article', new_article_path %>
  - This option will make your new article!
